# Archivos de sistema
*.log
.DS_Store
Thumbs.db

# Laravel: Archivos sensibles
.env
.env.*
.env.backup
.env.production
/storage/*.key
/storage/oauth-*.key
/storage/pail

# IDEs y herramientas de desarrollo
/.idea
/.vscode
/.phpactor.json
/.phpunit.cache
/.phpunit.result.cache
/.fleet
/.zed

# Node y Composer
/node_modules
/vendor
/auth.json

# Laravel Nova (si se usa)
/.nova

# Public Assets (generados)
/public/build
/public/hot
/public/storage
/public/js
/public/css
/public/mix-manifest.json

# Pruebas
/tests/*.xml
/tests/coverage/

# Entornos virtuales
Homestead.json
Homestead.yaml
/.devcontainer
